<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <nav>
        <div class="site-title">
            <a href="/">Tom</a>
            <p>First Node Blog</p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Post</a></li>
        </ul>
    </nav>

    <div class="not-foumd content">
        <h2>OOPSS NOT FOUND</h2>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>