<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Node | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/">Tom</a>
            <p>First Node Blog</p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Post</a></li>
        </ul>
    </nav>

    <div class="create-blog content">
        <form action="">
            <label for="title">Blog Title</label>
            <input type="text" id="title" required>
            <label for="title">Blog Snippet</label>
            <input type="text" id="Snippet" required>
            <label for="title">Blog Body</label>
            <textarea name="body" id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>